@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply mx-auto max-w-5xl;
}

.btn,
.form-control {
  @apply px-5 py-3 rounded-xl transition;
}

.btn {
  @apply bg-primary text-white font-medium hover:bg-opacity-90;
}

.btn-lg,
.form-control-lg {
  @apply px-8 py-5;
}

.btn-inverted {
  @apply bg-primary bg-opacity-10 text-primary hover:bg-opacity-20 backdrop-blur-xl;
}

.form-control {
  @apply border outline-primary;
}

.form-control:hover {
  @apply border-primary;
}

.label {
  @apply block text-sm font-semibold mb-2;
}

/* === Cerium Styles === */

/* Set a default font */
.cx-widget {
  @apply overflow-hidden font-sans !important;
}

/* Rounded corners on windows and buttons */
.cx-widget,
.cx-btn,
.cx-form-control {
  @apply rounded-xl !important;
}

/* Repaint buttons to primary color */
.cx-btn.cx-btn-primary {
  background: unset !important;
  @apply bg-primary !important;
}

/* Repaint SVG icons to primary color */
.cx-widget.cx-theme-light .cx-svg-icon-tone1 {
  fill: #0076ff !important;
}

/* Make modals more visible */
.ow-modal,
.cx-common-container,
.cx-drop-shadow,
.cx-sidebar {
  @apply shadow-lg border !important;
}

/* Make "Live Assistance" buttons line up perfectly */
.cx-channels {
  display: flex;
}
